.tarjeta{
    display: block;
    height: auto;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.main{
    padding-bottom: 10px;
}

.main h4{
    margin: 10px 5px;
}

.logoinstitucion{
    height: auto;
    width: 150px;
    border-radius: 50%;
}

.footer{
    padding-bottom: 50px;
}