<div 
    class="tarjeta"
    *ngIf="!mostrarEditFormationFormulario">
    <div class="buttons">
        <button 
            (click)="mostrarEditFormacionFormulario(formacionacademica)"
            class="btn"
            ><fa-icon [icon]="faPen"
            ></fa-icon></button>
        <button 
            class="btn"
            (click)="deleteFormation(formacionacademica)"><fa-icon [icon]="faTimes"
            ></fa-icon></button>
    </div>
    <div class="main">
        <img 
            src={{formacionacademica.urlinstitucion}} 
            alt="Logo institución"
            class="logoinstitucion">
        <h4>{{formacionacademica.title}}</h4>
        <p>{{formacionacademica.years}}</p>
    </div>
    <div class="footer">
        <fa-icon 
            [icon]="faSchool"
            class="fa-2xl">
        </fa-icon>
    </div>

</div>
<div class="tarjeta" *ngIf="mostrarEditFormationFormulario">
    <form
        (submit)="mostrarEditFormacionFormulario(formacionacademica); editFormation(formacionacademica)">
        <div class="form-control">
            <div class="form-main">
                <label for="urlinstitucion">URL logo de la Institución</label>
                <input 
                    type="text" 
                    name="urlinstitucion" 
                    id="urlinstitucion" 
                    value={{formacionacademica.urlinstitucion}}
                    [(ngModel)]="formacionacademica.urlinstitucion">
                <label for="title"> Título </label>
                <input 
                    type="text" 
                    name="title" 
                    id="title" 
                    value={{formacionacademica.title}}
                    [(ngModel)]="formacionacademica.title">
                <label for="years"> Años de capacitación </label>
                <input 
                    type="text" 
                    name="years" 
                    id="years" 
                    value={{formacionacademica.years}}
                    [(ngModel)]="formacionacademica.years">
                <div class="form-buttons">
                    <input type="submit" value="Guardar cambios" class="btn btn-success">
                </div>
            </div>
        </div>
    </form>
</div>
