<div class="nav-bar">
    <div>
        <img src="assets\Trebol.png" class="logo">
    </div>

    <div class="nav-buttons">
      <nav>
        <div class="dropdown show">
          <a class="btn boton-navegacion" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a routerLink="" class="dropdown-item item-menu"> INICIO</a>
            <a routerLink="/experiencia" class="dropdown-item item-menu">EXPERIENCIA</a>
            <a routerLink="/formación" class="dropdown-item item-menu" >FORMACIÓN</a>
            <a routerLink="/proyectos" class="dropdown-item item-menu">PROYECTOS</a>
          </div>
        </div>
      </nav>

      <app-boton-login></app-boton-login>
    </div>
</div>
