.footer{

    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
  
}

fa-icon{
    margin-right: 10px;
}

a{
    color: black;
}

a:link{
    color: black;
}

a:hover{
    scale: 1.10;
    transition: 0.3s;
}

a:active{
    scale:0.98;
    transition: 0.3s;
}