.footer{


    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
    margin-top: 30px;
  
}

fa-icon{
    margin-right: 10px;
}

a{
    color: black;
}

a:link{
    color: black;
}

a:hover{
    scale: 1.10;
    transition: 0.3s;
}

a:active{
    scale:0.98;
    transition: 0.3s;
}